head
  meta( name = "viewport", content = "width=device-width, initial-scale=1.0" )
  meta( charset = "UTF-8" ) 
  title Mad Web
  // link( rel = "stylesheet" href = "/assets/css/bootstrap.dev.css" )
  link( rel = "stylesheet" href = "/assets/css/mad.dev.css" )
  