extends layout.pug
block content


  h1 Overview

  ul
    li all 
      a(href="howto.html") Basic Howtos
      |  here
    li all 
      a(href="examples.html") Example Files
      |  here

  ul 
    li Task runner
      ul
        li
          a(href="howto.html#installGrunt") Grunt.js
        li
          a(href="howto.html#installGulp") Gulp.js
    li
      a(href="package_manager.html") Package manager
      ul
        li
          a(href="package_manager.html#bowerio") Bower.io
    li
      a(href="preprocessing.html") Preprocessing
      ul
        li
          a(href="preprocessing.html#css") CSS
          ul
            li
              a(href="preprocessing.html#less") less
            li
              a(href="preprocessing.html#sass") Sass
        li
          a(href="preprocessing.html#html") HTML
          ul
            li
              a(href="preprocessing.html#pug") Pug (Jade)
        li
          a(href="preprocessing.html#javascript") Javascript
          ul
            li
              a(href="preprocessing.html#coffeecript") Coffeescript
            li
              a(href="preprocessing.html#typescript") Typescript
    li
      a(href="others.html") Others
      ul
        li
          a(href="others.html#yeoman") Yeoman
        li
          a(href="others.html#nodejs") nodejs
 
  p
    a(href='https://www.sitepoint.com/using-jade-and-grunt-to-speed-up-html-production/', title='Click me') Jade and Grunt to speed up html production
  p
    a(href='https://www.sitepoint.com/writing-awesome-build-script-grunt/', title='Click me') awesome build script



