doctype html
html(lang="de")
  block head
    include partials/head.pug

  body
    div#wrapper.container
      header
        h2
          a( href = "http://192.168.19.83.xip.io", class = "internal" ) Vaprobash Playground
        h3
          a( href = "http://frontend.192.168.19.83.xip.io" ) Frontend
        p
          a( href = "http://backend.192.168.19.83.xip.io", class = "internal" ) go to backend
      article
        block content
      block footer
        include partials/footer.pug
